.desc {
  display: flex;
  flex-direction: column;
}

.quantity {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  height: 2rem;
  width: 2rem;
  border-radius: 20px;
  border: none;
  font-weight: bold;
}

.btn:hover {
  background-color: var(--primary-color);
  color: white;
}
.btn2 {
  border-radius: 20px;
  border: none;
  font-weight: bold;
  height: 3rem;
  margin: 10px;
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  font-size: 1rem;
  transition: transform 100ms;
}

.btn2:hover {
  transform: translateY(-3px);
}

.span2 {
  margin: 10px;
}
