.fieldset {
  border: none;
  margin: 50px;
  margin-right: 0px;
}

.legend {
  font-weight: bold;
  margin-bottom: 10px;
}

.label {
  text-transform: capitalize;
}

.input {
  margin-right: 10px;
}
