.div {
  display: flex;
  flex-direction: column;
  text-align: justify;
  justify-content: space-between;
  border: solid gray 1px;
  padding: 10px;
}

.div2 {
  composes: div;
  flex-direction: row;
}

.desc {
  display: flex;
  flex-direction: column;
}

.quantity {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img {
  height: 256px;
  width: 100%;
  object-fit: contain;
}

.img2 {
  width: 128px;
  width: 128px;
}

.btn {
  width: 50px;
}

.btn2 {
  height: 3rem;
  margin: 10px;
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  font-size: 1rem;
}

.span {
}

.span2 {
  margin: 10px;
}
